:root {
	--dd-dark: #333;
	--dd-light: #fff;
}
.light .light:focus {
	color: var(--dd-dark);
	background-color: var(--dd-light);
}

.dark,
.dark:focus {
	color: var(--dd-light);
	background-color: var(--dd-dark);
}

.light-navbar {
	color: var(--dd-dark);
}

.dark-navbar {
	color: var(--dd-light);
}

#app {
	/* height: 100%; */
	width: 100vw;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* position: relative; */
}
