.background-image {
	background-image: url("./CYF-background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.logo {
	width: 100px;
}

.message {
	color: rgb(255, 0, 0);
}


.table_container {
	width: 50%;
	margin: auto;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em;
}

/* .footer {
	color: black;
	padding: 3rem 0;
	text-align: center;
} */

.table {
	margin: 0 auto;
	width: 80%;
}
