.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.table_container {
	width: 50%;
	margin: auto;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em;
}

.btn {
	width: 120px;
	height: 40px;
	background-color: #f8f9fa;
	color: #212529;
	border: none;
}

.btn:hover {
	background-color: #dc3545;
	color: #fff;
}

.login-icon {
	margin-right: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.3rem;
}

.signup-icon {
	margin-right: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.5rem;
}

.password-toggle-icon {
	cursor: pointer;
}

.input-group-text:focus {
	outline: none;
	box-shadow: none;
}

.form-control:focus {
	border-color: #ced4da;
	box-shadow: none;
}

.footer {
	color: black;
	padding: 3rem 0;
	text-align: center;
}
