.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.table_container {
	width: 50%;
	margin: auto;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em;
}

.footer {
	color: black;
	padding: 3rem 0;
	text-align: center;
}
.table {
	margin: 0 auto;
	width: 80%;
}


