.learning-objective-wrapper {
	display: flex;
	flex-direction: row;
}
th {
	color: red;
	text-align: center;
}
td {
	text-align: center;
	font-weight: bold;
}
@media (max-width: 767px) {
	.learning-objective-wrapper {
		display: flex;
		flex-direction: column;
	}
}

/* add style for add new objective component*/
.form-control {
	height: 3rem;
}

.btn-block {
	width: 100%;
	margin-top: 1rem;
}

.dropdown-menu {
	max-height: 10rem;
	overflow-y: auto;
	min-width: 100%;
}
.dropdown-toggle {
	height: 38px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
}
#dropdown-basic-button {
	width: 100%;
	margin-top: 2em;
}
