/* .table_container {
	height: 100vh;
	width: 100vw;
} */

.button_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	margin-top: 1em;
	margin-right: 1em;
}

.button_enabled {
	background-color: rgb(220, 53, 69);
	border-color: #007bff;
}

.button_enabled:hover {
	background-color: rgb(236, 169, 176);
	border-color: #0062cc;
}
#dropdown-basic {
	background-color: rgb(220, 53, 69);
}
h2 {
	text-align: center;
}

.table-wrapper {
	overflow-x: auto;
	width: auto;
}
.table_container {
	width: 80%;
}
@media (max-width: 768px) {
	.table_container {
		padding: 10px;
	}

	.button_container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 10px;
	}

	.button_enabled {
		margin-top: 00px;
		margin-left: 0;
	}

	.table-wrapper {
		max-width: 100%;
	}

	th,
	td {
		padding: 5px;
	}
}
